{% extends 'base.html' %}
{% block navmenu %}
<a class="navbar-brand" href="{{url_for('index')}}">ACRE</a>
<li ><a href="{{url_for('projects')}}">ПРОЕКТЫ</a></li>
<li><a href="{{url_for('products')}}">ПРОДУКЦИЯ</a></li>
<li><a href="{{url_for('about')}}">О НАС</a></li>
<li><a href="{{url_for('contacts')}}">КОНТАКТЫ</a></li>
<li class="social pull-right"><a href="#">Inst</a></li>
{% endblock %}
{% block content %}
<div class="container-fluid padding-0">
	<img src="{{url_for('static', filename='img/main.png')}}" class="img-responsive" alt="Responsive image">
</div>

{% endblock %}
